[Unit]
Description=__APP__ search index daemon
After=network.target

[Service]
Type=simple
Environment=NODE_ENV=production
Environment=NODE_CONFIG_DIR=__INSTALL_DIR__/sources/config
User=__APP__
Group=__APP__
ExecStart=__YNH_NPM__ start
WorkingDirectory=__INSTALL_DIR__/sources/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=__APP__
Restart=always

[Install]
WantedBy=multi-user.target
