[Unit]
Description=__APP__ search index daemon
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
Environment=NODE_ENV=production
Environment="PATH=__PATH_WITH_NODEJS__"
Environment=NODE_CONFIG_DIR=__INSTALL_DIR__/sources/config
WorkingDirectory=__INSTALL_DIR__/sources/
ExecStart=__NODEJS_DIR__/npm start
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=__APP__
Restart=always

[Install]
WantedBy=multi-user.target
